*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Gothic A1', sans-serif';
}
:root{
    --background-color: rgb(1, 24, 18);
   
}
body{
     background-color: (--color);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.navbar1{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    color: rgb(201, 198, 198);
    font-weight: 20;
    padding: 0.7rem;
}
.fa-couch{
    color: rgb(1, 24, 18);
    
}
#bars{
    display: none;
}
.colored{
    color: rgb(146, 143, 143);
}
.navbar2{
    background-color: white;
    border: none;
    border-bottom: 0.5px solid rgb(219, 216, 216);
    display: flex;
    width: 100%;
    padding: 0.3rem;
    
}
.inputs1{
    width: 30%;
    border-left: 1px solid rgb(219, 216, 216);
    padding-left: 20px;
}
.inputs i{
    color:rgb(1, 66, 1);
   
}
.navbar2 h3{
    padding-left: 2rem;
    font-size: 18px;
    color:rgb(2, 43, 32);
    width: 15%;
    display: flex;
    align-items: center;
}
p{
    font-size: 16px;
}

.inputs{
    width: 20%;
    border-left: solid 1px rgb(219, 216, 216);
    padding-left: 2rem;
    padding: 0.5rem;
    display: flex;
}
.inputs:hover{
  background-color: #eee;
  cursor: pointer;
}
.oneside{
   width: 50%;
}
.oneside h3{
   padding-left: 2rem;
   font-size: 13px;
}
.secondside{
  width: 50%;
  font-size: 13px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-break: 80px;
    margin: 0 6px;
}
a{
    text-decoration: none;
    color: rgb(226, 226, 226);

}
select{
    background-color: inherit;
    color: rgb(219, 216, 216);
    border: none;
    
}
img{
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
input{
    width: 70%;
    border: none;
    padding: 0.5rem;
}
.parent{
   border-bottom: none;
 color: black;
    width: 95%;
   height: 95%;
   margin: auto;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.3rem;
   border: 0.1px solid  rgb(219, 216, 216);
   border-top: 0;
}
.grey-bg {
    background: linear-gradient(to right, white, white, rgb(240, 238, 238));
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 3rem;
}
.hero{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
h2{
  color: rgb(2, 43, 32);
  font-weight: 500;
  font-size: 30px;
}
.text{
    width: 100%;
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 0;
    
}
.fa-star{
    color: rgb(2, 100, 32);
    padding-top: 0.4rem;
}
button{
    background-color: rgb(2, 43, 32);
    color: rgb(219, 216, 216);
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(2, 100, 32);
    cursor: pointer;
}
.button2{
    background-color: white;
    color: rgb(2, 100, 32);
    border: 0.2px solid rgb(201, 198, 198);
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.button2:hover{
    background-color: rgb(226, 226, 226);
    transform: scale(0.8);
}
.sofa{
    width: 100%;
    height: 100%;
    background: inherit;
}
.w-40{
    width: 40%;
}
.w-60 {
    width: 60%;
}

.hero-image{
  width: 100%;
  height: 100%;
}

.chair-image{
    width: 90%;
    height: 90%;
}
@media screen and (max-width: 500px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
    .parent{
        display: flex;
        flex-direction: column;
    }
    .hero{
        width: 100%;
    }
    .text{
        width: 100%;
        text-align: center;
    }
    .text h2{
        width: 100%;
        font-size: 26px;
    }
    body{
        overflow-x: hidden;
    }
   .inputs{
    display: block;
    position: fixed;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 600px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 700px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .progress{
       display: none;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 400px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .progress{
      display: none;
    }
    .navbar1{
        display: none;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 300px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .progress{
      display: none;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 200px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .progress{
        display: none;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 800px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
   .navbar2 h3{
    padding-right: 1rem;
   }
    input{
        display: none;
    }
    .progress{
        display: none;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar1{
        display: none;
    }
    .navbar2{
        align-items: center;
    }
    
}
@media screen and (max-width: 900px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .navbar2 h3{
        padding-right: 1rem;
       }
    .inputs1 img{
        margin-left: 5rem;
    }
    .progress{
        display: none;
    }
   
    .navbar1{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    #bars{
        display: block;
        float: right;
       padding-right: 2rem;
        font-size: 17px;
    }
    .navbar2 h3{
        padding-right: 1rem;
       }
   .inputs{
    display: none;
   }
   .navbar2{
    justify-content: space-between;
   }
    input{
        display: none;
    }
    .progress{
       margin-left: 10rem;
    }
    .inputs1 img{
        margin-left: 5rem;
    }
    .navbar1{
        display: none;
    }
    nav ul li{
        display: inline-block;
        line-break: 80px;
        
    }
    
}
@media screen and (max-width: 1100px) {
    
   
   .navbar2{
    justify-content: space-between;
   }
    .secondside{
      width: 70%;
    }
    .navbar2 h3{
        padding-right: 1rem;
       }
    .oneside{
        width: 30%;
    }
}
   @media screen and (max-width: 1200px) {
   .navbar2{
    justify-content: space-between;
   }

    .secondside{
      width: 70%;
    }
    .navbar2 h3{
        padding-right: 1rem;
       }
    .oneside{
        width: 30%;
    }
   }
   @media screen and (max-width: 1300px) {
    .secondside{
      width: 70%;
    }
    .oneside{
        width: 30%;
    }
   }
   




